body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  font-family: Georgia, 'Times New Roman', Times, serif;
}

p {
  font-size: 2rem;
}

.button-css {
  padding: 0.5rem 1rem;
  border-radius: 20px;
  border: 1px solid rgb(94, 22, 22);
  background-color: rgb(165, 121, 206);
  cursor: pointer;
  transition: background-color 0.2s ease;
}

.button-css:hover {
  background-color: rgb(149, 88, 206);
}